In [9]:
import os
import pandas as pd

In [10]:
# # target set
# ajrccm1 = "/home/local/VANDERBILT/litz/data/ajrccm/AJRCCM Dataset MCL and Date.xlsx"
# ajrccm1 = pd.read_excel(ajrccm1, dtype={'mcl':str, 'CT Date': str})
# ajrccm1['CT Date'] = pd.to_datetime(ajrccm1['CT Date'])
# ajrccm1 = ajrccm1.rename(columns={'mcl':'mcl_id', 'CT Date': 'scan_date'})

# # replace DECAMP identifiers with MCL id
# # decamp identifiers from Redcap
# tomcl = '/home/local/VANDERBILT/litz/data/ajrccm/mrn_to_mcl.csv'
# tomcl = pd.read_csv(tomcl, dtype={'MRN':str, 'MCL ID':str, 'Previous Image ID':str})
# decamp = ajrccm1.merge(tomcl, left_on=['mcl_id'], right_on=['Previous Image ID'])
# decamp_ids = decamp['Previous Image ID']
# decamp['mcl_id'] = decamp['MCL ID'] # replace local IDs with MCL_ID
# decamp_redcap = decamp[ajrccm1.columns.tolist()+['Previous Image ID']]
# decamp_redcap = decamp_redcap.rename(columns={'mcl':'mcl_id', 'CT Date':'scan_date', 'Previous Image ID':'other_id'})

# # more decamp identifiers from Riqiang
# riqiang_path = "/nfs/masi/MCL/file/clinical/LabelFile/DECAMP_2020JUN12.xlsx"
# riqiang = pd.read_excel(riqiang_path, dtype={'MCL_ID':str})
# decamp = ajrccm1.merge(riqiang, left_on='mcl_id', right_on='Subject')
# decamp_ids = decamp['Subject']
# decamp['mcl_id'] = decamp['MCL_ID'] # replace local IDs with MCL_ID
# decamp_riqiang = decamp[ajrccm1.columns.tolist()+['Subject']]
# decamp_riqiang = decamp_riqiang.rename(columns={'mcl':'mcl_id', 'CT Date':'scan_date', 'Subject':'other_id'})
# decamp_riqiang

# decamp_combine = pd.concat([decamp_redcap, decamp_riqiang])

# df = ajrccm1[~ajrccm1['mcl_id'].isin(decamp_combine['other_id'])]
# ajrccm1 = pd.concat([df, decamp_combine])
# ajrccm1

ajrccm1 = pd.read_csv('/home/local/VANDERBILT/litz/data/ajrccm/ajrccm_full.csv')
ajrccm1

          mcl_id   scan_date decamp_id
0    25655733516  2012-06-28       NaN
1    41134586794  2006-02-23       NaN
2    28894790763  2003-12-08       NaN
3    38625320586  2004-06-01       NaN
4    24251918406  2004-11-16       NaN
..           ...         ...       ...
451  16804416744  2017-06-27  4703-363
452  38298408723  2014-01-08   4703-59
453  11443282217  2013-11-21   4703-65
454  11601262163  2014-02-19   4703-72
455   7531425448  2014-02-24   4703-82

[456 rows x 3 columns]

In [53]:
davidxiao = '/home/local/VANDERBILT/litz/data/ajrccm/ajrccm_051623.xlsx'
davidxiao = pd.read_excel(davidxiao, dtype={'mcl_id':str, 'MCLs W/ Missing DICOM': str, 'MCLs':str}, sheet_name=None)
print(davidxiao.keys())

missing = davidxiao['MIssing MCLs']
missing = missing.rename(columns={'MCLs W/ Missing DICOM':'mcl_id'})
merged_missing = ajrccm1.merge(missing, on='mcl_id', how='right', indicator=True)
merged_missing['_merge'] = merged_missing['_merge']=='right_only'
merged_missing = merged_missing.rename(columns={'_merge': 'dicom_missing'})

merged_missing.at[5, 'dicom_missing']=True
merged_missing.to_csv('/home/local/VANDERBILT/litz/data/ajrccm/missing_051623.csv',index=False)

dict_keys(['Vandy MRN+MCLs', 'DICOM MCLs', 'MIssing MCLs'])

In [6]:
xnat = pd.read_csv('/home/local/VANDERBILT/litz/github/MASILab/DeepLungScreening/cohorts/xnat/xnat_matched_v2.csv', dtype={'mcl_id':str})
merged_missing.merge(xnat, on='mcl_id', how='left', indicator=True)

,mcl_id,scan_date,decamp_id,dicom_missing,Subject,Date,Age,xnat_project,Hand,YOB,CT Sessions,_merge
0,798328563,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,852034643,NaN,NaN,True,852034643,2013-10-09,NaN,MCL,NaN,NaN,NaN,both
2,2474224891,2012-11-01,0514-043,False,2474224891,2012-11-01,NaN,MCL,NaN,NaN,NaN,both
3,2725896332,2014-02-19,0514-064,False,2725896332,2014-02-19,NaN,MCL,NaN,NaN,NaN,both
4,3424276561,2012-12-19,0514-044,False,3424276561,2012-12-19,NaN,UW,NaN,NaN,NaN,both
5,3457205703,2017-04-06,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,5105856241,2012-12-05,0514-061,False,5105856241,2012-12-05,NaN,MCL,NaN,NaN,NaN,both
7,6114630350,2012-09-13,0514-042,False,6114630350,2012-09-13,NaN,MCL,NaN,NaN,NaN,both
8,10250356363,2013-03-27,0514-047,False,10250356363,2013-09-23,NaN,MCL,NaN,NaN,NaN,both
9,10627771232,2014-04-15,0514-066,False,10627771232,2014-04-15,NaN,MCL,NaN,NaN,NaN,both
10,13321584374,2011-11-21,0514-025,False,13321584374,2011-11-21,NaN,MCL,NaN,NaN,NaN,both
11,14476082924,2011-08-22,0514-015,False,14476082924,2011-08-22,NaN,MCL,NaN,NaN,NaN,both
12,15390035150,2012-01-24,0514-028,False,15390035150,2012-01-24,NaN,MCL,NaN,NaN,NaN,both
13,15540362614,2011-07-15,0514-020,False,15540362614,2011-07-15,NaN,MCL,NaN,NaN,NaN,both
14,15670560005,2011-12-07,0514-018,False,15670560005,2011-08-31,NaN,MCL,NaN,NaN,NaN,both
15,15800479536,2011-07-12,0514-026,False,15800479536,2011-07-12,NaN,MCL,NaN,NaN,NaN,both
16,17281337281,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
17,18299649891,2011-12-21,0514-027,False,18299649891,2011-12-21,NaN,MCL,NaN,NaN,NaN,both
18,19377879897,2011-09-26,0514-016,False,19377879897,2011-09-26,NaN,MCL,NaN,NaN,NaN,both
19,20413268079,2011-08-11,0514-035,False,20413268079,2011-08-11,NaN,MCL,NaN,NaN,NaN,both
20,21092200306,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
21,23615073180,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
22,27638154099,2011-08-18,0514-010,False,27638154099,2011-08-18,NaN,MCL,NaN,NaN,NaN,both
23,27806333899,2010-08-30,0514-008,False,27806333899,2010-08-30,NaN,MCL,NaN,NaN,NaN,both
24,29213209959,2012-10-24,0514-041,False,29213209959,2012-10-24,NaN,MCL,NaN,NaN,NaN,both
25,31108908014,2013-08-22,0514-060,False,31108908014,2013-08-22,NaN,MCL,NaN,NaN,NaN,both
26,35670910865,2013-07-01,0514-052,False,35670910865,2017-09-20,NaN,MCL,NaN,NaN,NaN,both
27,37422857606,2011-04-15,0514-012,False,37422857606,2011-04-15,NaN,MCL,NaN,NaN,NaN,both

In [12]:
xnat_files = ['MCL_CT.csv', 'Atwater_CT.csv','CANARY2a_CT.csv', 'HealthMyne_CT.csv', 'LTP2_CT.csv', 'Moffitt_CT.csv', 
    'Pitt_CT.csv', 'VLRVUVA_CT.csv', 'CTDNA_CT.csv', 'healthmyneGGO_CT.csv', 'MafeCANARY_CT.csv',
    'OptellumAneri_CT.csv', 'Optellum_CT.csv', 'TMA34_CT.csv', 'UW_CT.csv', 'VLR_CT.csv']
xnat_paths = [os.path.join('/home/local/VANDERBILT/litz/data/ajrccm/xnat20221201/', f) for f in xnat_files] 
projects = ['MCL', 'Atwater', 'Canary', 'HealthMyne', 'LTP2', 'Moffitt', 'Pitt', 'VLRVUV', 'CTDNA', 
    'healthmyneGGO', 'MafeCANARY', 'OptellumAneri', 'Optellum', 'TMA34', 'UW', 'VLR']
ajr_path = "/home/local/VANDERBILT/litz/data/ajrccm/AJRCCM Dataset MCL and Date.xlsx"
xnat = []
for i, xnat_path in enumerate(xnat_paths):
    df = pd.read_csv(xnat_path, dtype={'XNAT_CTSESSIONDATA ID': str, 'Subject': str, 'dcmPatientName': str, 'dcmPatientId': str, 'Date': str})
    df['xnat_project'] = projects[i]
    xnat.append(df)
xnat = pd.concat(xnat, axis=0, ignore_index=True)
xnat['Date'] = pd.to_datetime(xnat['Date'], format='%Y-%m-%d')
# try to impute date from ID
def impute_date(x):
    if pd.isnull(x['Date']):
        try:
            date = pd.to_datetime(x['XNAT_CTSESSIONDATA ID'].split('_')[1], format='%Y%m%d')
            return date.strftime("%Y-%m-%d")
        except:
            return None
    else:
        return x['Date']
xnat['Date'] = xnat.apply(lambda x: impute_date(x), axis=1)
# parse mcl_id from MCLID_MCLID_CTDate and MCL_SPORE_MCLID formats
def parse_mclid(x):
    split = x.split('_')
    for s in split:
        if s.isdigit():
            return s

# xnat record must have Subject and Date
xnat = xnat[~xnat['Subject'].isnull()]
# xnat = xnat[~xnat['Date'].isnull()]
xnat['mcl_id'] = xnat['Subject'].apply(lambda x: parse_mclid(x))

/tmp/ipykernel_1815839/3605223933.py:25: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  xnat['Date'] = xnat.apply(lambda x: impute_date(x), axis=1)

In [13]:
merged_missing.merge(xnat, on='mcl_id', how='left', indicator=True)

,mcl_id,scan_date,decamp_id,dicom_missing,XNAT_CTSESSIONDATA ID,Subject,Date,Age,dcmAccessionNumber,dcmPatientId,dcmPatientName,UID,Scans,xnat_project,M/F,Hand,YOB,CT Sessions,_merge
0,798328563,NaN,NaN,True,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,852034643,NaN,NaN,True,852034643_20101129_141937_400,852034643,2010-11-29,NaN,CONFIDENTIAL,852034643,852034643,1.2.840.113711.999999.22744.1574869770,unknown(1),MCL,NaN,NaN,NaN,NaN,both
2,852034643,NaN,NaN,True,852034643_20131009_083516,852034643,2013-10-09,NaN,CONFIDENTIAL,852034643,852034643,1.2.840.113711.999999.22757.1574869774,AXIAL(1),MCL,NaN,NaN,NaN,NaN,both
3,2474224891,2012-11-01,0514-043,False,2474224891-20121101,2474224891,2012-11-01,NaN,2819497684894126,MCL_2474224891_2474224891-20121101,MCL_2474224891_2474224891-20121101,1.2.840.113654.2.70.1.294148860258668677467477...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
4,2725896332,2014-02-19,0514-064,False,2725896332-20140219,2725896332,2014-02-19,NaN,2819497684894126,MCL_2725896332_2725896332-20140219,MCL_2725896332_2725896332-20140219,1.2.840.113654.2.70.1.112713901547420273377304...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
5,3424276561,2012-12-19,0514-044,False,3424276561-20121219,3424276561,2012-12-19,NaN,2819497684894126,MCL_3424276561_3424276561-20121219,MCL_3424276561_3424276561-20121219,1.2.840.113654.2.70.1.243034173394941892305567...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
6,3424276561,2012-12-19,0514-044,False,3424276561-20121219,3424276561,2012-12-19,NaN,2819497684894126,MCL_3424276561_3424276561-20121219,MCL_3424276561_3424276561-20121219,1.2.840.113654.2.70.1.243034173394941892305567...,unknown(1),UW,NaN,NaN,NaN,NaN,both
7,3457205703,2017-04-06,NaN,False,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8,5105856241,2012-12-05,0514-061,False,5105856241-20121205,5105856241,2012-12-05,NaN,2819497684894126,MCL_5105856241_5105856241-20121205,MCL_5105856241_5105856241-20121205,1.2.840.113654.2.70.1.145114784588429595159370...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
9,6114630350,2012-09-13,0514-042,False,6114630350-20120913,6114630350,2012-09-13,NaN,2819497684894126,MCL_6114630350_6114630350-20120913,MCL_6114630350_6114630350-20120913,1.2.840.113654.2.70.1.185187313211150230694693...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
10,10250356363,2013-03-27,0514-047,False,10250356363-20130327,10250356363,2013-03-27,NaN,2819497684894126,MCL_10250356363_10250356363-20130327,MCL_10250356363_10250356363-20130327,1.2.840.113654.2.70.1.131726290801685704289641...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
11,10250356363,2013-03-27,0514-047,False,10250356363-20130923,10250356363,2013-09-23,NaN,2767534227516542,10250356363,10250356363,1.2.840.113654.2.70.1.956224383071187666324280...,100ML OMNI 350(1),MCL,NaN,NaN,NaN,NaN,both
12,10627771232,2014-04-15,0514-066,False,10627771232-20140415,10627771232,2014-04-15,NaN,2819497684894126,MCL_10627771232_10627771232-20140415,MCL_10627771232_10627771232-20140415,1.2.840.113654.2.70.1.178654026681368827347882...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
13,13321584374,2011-11-21,0514-025,False,13321584374-20111121,13321584374,2011-11-21,NaN,2819497684894126,MCL_13321584374_13321584374-20111121,MCL_13321584374_13321584374-20111121,1.2.840.113654.2.70.1.262016783651410735124224...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
14,14476082924,2011-08-22,0514-015,False,14476082924-20110822,14476082924,2011-08-22,NaN,2819497684894126,MCL_14476082924_14476082924-20110822,MCL_14476082924_14476082924-20110822,1.2.840.113654.2.70.1.134119779805771858478492...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
15,14476082924,2011-08-22,0514-015,False,14476082924_20110822_092237,14476082924,2011-08-22,NaN,CONFIDENTIAL,14476082924,14476082924,1.2.840.113711.999999.749.1575565440,LDL AXIALS(1),MCL,NaN,NaN,NaN,NaN,both
16,15390035150,2012-01-24,0514-028,False,15390035150-20120124,15390035150,2012-01-24,NaN,2819497684894126,MCL_15390035150_15390035150-20120124,MCL_15390035150_15390035150-20120124,1.2.840.113654.2.70.1.300542369097186502388723...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
17,15540362614,2011-07-15,0514-020,False,15540362614-20110715,15540362614,2011-07-15,NaN,2819497684894126,MCL_15540362614_15540362614-20110715,MCL_15540362614_15540362614-20110715,1.2.840.113654.2.70.1.158520191669752186554639...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
18,15670560005,2011-12-07,0514-018,False,15670560005-20110831,15670560005,2011-08-31,NaN,2819497684894126,MCL_15670560005_15670560005-20110831,MCL_15670560005_15670560005-20110831,1.2.840.113654.2.70.1.197405630414932960515578...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
19,15800479536,2011-07-12,0514-026,False,15800479536-20110712,15800479536,2011-07-12,NaN,2819497684894126,MCL_15800479536_15800479536-20110712,MCL_15800479536_15800479536-20110712,1.2.840.113654.2.70.1.193321457645587638069330...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
20,17281337281,NaN,NaN,True,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
21,18299649891,2011-12-21,0514-027,False,18299649891-20111221,18299649891,2011-12-21,NaN,2819497684894126,MCL_18299649891_18299649891-20111221,MCL_18299649891_18299649891-20111221,1.2.840.113654.2.70.1.338099872823692960957244...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
22,19377879897,2011-09-26,0514-016,False,19377879897-20110926,19377879897,2011-09-26,NaN,2819497684894126,MCL_19377879897_19377879897-20110926,MCL_19377879897_19377879897-20110926,1.2.840.113654.2.70.1.231482983965011559156863...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
23,20413268079,2011-08-11,0514-035,False,20413268079-20110811,20413268079,2011-08-11,NaN,2819497684894126,MCL_20413268079_20413268079-20110811,MCL_20413268079_20413268079-20110811,1.2.840.113654.2.70.1.151182127637643727918572...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
24,21092200306,NaN,NaN,True,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
25,23615073180,NaN,NaN,True,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
26,27638154099,2011-08-18,0514-010,False,27638154099-20110818,27638154099,2011-08-18,NaN,2819497684894126,MCL_27638154099_27638154099-20110818,MCL_27638154099_27638154099-20110818,1.2.840.113654.2.70.1.112853928090122162586967...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
27,27806333899,2010-08-30,0514-008,False,27806333899-20100830,27806333899,2010-08-30,NaN,2819497684894126,MCL_27806333899_27806333899-20100830,MCL_27806333899_27806333899-20100830,1.2.840.113654.2.70.1.103313275540415961578614...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
28,29213209959,2012-10-24,0514-041,False,29213209959-20121024,29213209959,2012-10-24,NaN,2819497684894126,MCL_29213209959_29213209959-20121024,MCL_29213209959_29213209959-20121024,1.2.840.113654.2.70.1.345712267501021206883976...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
29,31108908014,2013-08-22,0514-060,False,31108908014-20130822,31108908014,2013-08-22,NaN,2819497684894126,MCL_31108908014_31108908014-20130822,MCL_31108908014_31108908014-20130822,1.2.840.113654.2.70.1.247216604851935941649649...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
30,35670910865,2013-07-01,0514-052,False,35670910865-20130701,35670910865,2013-07-01,NaN,2819497684894126,MCL_35670910865_35670910865-20130701,MCL_35670910865_35670910865-20130701,1.2.840.113654.2.70.1.176693319513512866359714...,unknown(1),MCL,NaN,NaN,NaN,NaN,both
31,35670910865,2013-07-01,0514-052,False,35670910865_20160714,35670910865,2016-07-14,NaN,NaN,NaN,NaN,NaN,CHEST W/ THINS(1),MCL,NaN,NaN,NaN,NaN,both
32,35670910865,2013-07-01,0514-052,False,35670910865_20170920,35670910865,2017-09-20,NaN,NaN,NaN,NaN,NaN,CA AX THK 100CC(1),MCL,NaN,NaN,NaN,NaN,both
33,37422857606,2011-04-15,0514-012,False,37422857606-20110415,37422857606,2011-04-15,NaN,2819497684894126,MCL_37422857606_37422857606-20110415,MCL_37422857606_37422857606-20110415,1.2.840.113654.2.70.1.106260127607205555175307...,unknown(1),MCL,NaN,NaN,NaN,NaN,both