# VLSP clinical data pipeline

In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None
import os
from os import path
import numpy as np
import matplotlib.pyplot as plt

### demographic features

In [2]:
# demographic csv
raw_cli = "/nfs/masi/SPORE/file/clinical/combine_17and18.xlsx"
raw_df = pd.read_excel(raw_cli)
print(raw_df.columns)
print(len(raw_df))
# raw_df

Index(['sub_name', 'sex', 'race', 'hispanic', 'accession', 'proccode', 'dob',
       'studydate', 'Age', 'LungRADS', 'ctscannermake', 'ctscannermodel',
       'ctdivol', 'dlp', 'reconstructedwidth', 'tubecurrenttime',
       'tubevoltage', 'scanningtime', 'scanningvolume', 'pitch',
       'smokingfrequency', 'firstLCS', 'heightinches', 'weightpounds',
       'smokingstatus', 'packsperday', 'packyearsreported', 'yearssincequit',
       'lastsmoked', 'cessationcounseling', 'shareddecisionmaking', 'symptoms',
       'comorbidities', 'occupationalexposure', 'copd', 'education',
       'riskcalculation', 'Coronary Artery Calc', 'Lung Nodule Clinic refer',
       'historycomplete', 'Qualifies USPSTF', 'Qualify USPSTF',
       'personal_cancer_history', 'family_cancer_history', 'therapy_history',
       'If on Xnat (no=0, yes=1)'],
      dtype='object')
1688

In [3]:
ft = ['sub_name', 'sex', 'race', 'Age', 'studydate', 'heightinches', 'weightpounds', 'education']
hist_ft = ['personal_cancer_history', 'family_cancer_history']
smoking_ft = ['smokingstatus', 'packsperday', 'packyearsreported', 'yearssincequit', 'lastsmoked', 'copd']
raw_df = raw_df[ft+hist_ft+smoking_ft]
raw_df['pid'] = raw_df['sub_name'].apply(lambda x: x.split('_')[-1])
raw_df

,sub_name,sex,race,Age,studydate,heightinches,weightpounds,education,personal_cancer_history,family_cancer_history,smokingstatus,packsperday,packyearsreported,yearssincequit,lastsmoked,copd,pid
0,SPORE_00000001,M,Caucasian/ White,59,2013-12-05,72,214,NaN,NaN,NaN,9,0.0,999.0,0,NaN,NaN,00000001
1,SPORE_00000002,F,Caucasian/ White,67,2013-12-13,61,157,NaN,NaN,NaN,9,0.0,999.0,0,NaN,NaN,00000002
2,SPORE_00000003,F,Caucasian/ White,46,2014-01-09,66,194,NaN,NaN,NaN,9,0.0,999.0,0,NaN,NaN,00000003
3,SPORE_00000004,F,Caucasian/ White,59,2014-01-13,65,145,NaN,NaN,NaN,9,0.0,999.0,0,NaN,NaN,00000004
4,SPORE_00000005,M,Caucasian/ White,61,2014-01-14,70,270,NaN,NaN,NaN,9,0.0,999.0,11,NaN,NaN,00000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1683,SPORE_00000604,F,Caucasian/ White,56,2018-04-18,68,209,9-11th grade,The patient has no personal history of other c...,The patient has no family history of other can...,Current Smoker,0.0,92.0,0,Less than 24 hours,No,00000604
1684,SPORE_00001128,F,Caucasian/ White,58,2018-05-31,61,164,Associate degree some,The patient has no personal history of other c...,NaN,Current Smoker,0.0,92.0,0,Less than 24 hours,Yes,00001128
1685,SPORE_00000411,M,Hispanic/ Latnio,76,2018-01-19,67,130,High school graduate,The patient has no personal history of other c...,The patient has no family history of other can...,Current Smoker,0.0,96.0,0,Less than 24 hours,No,00000411
1686,SPORE_00000459,M,Caucasian/ White,66,2018-04-25,70,148,Associate degree some,The patient has no personal history of other c...,The patient has no family history of other can...,Current Smoker,0.0,96.0,0,Less than 24 hours,No,00000459
1687,SPORE_00000210,M,Caucasian/ White,66,2018-02-21,69,248,9-11th grade,NaN,The patient has the following family history o...,Current Smoker,0.0,99.0,0,Less than 24 hours,Yes,00000210

### available scans

In [4]:
# scan info
scan_dir = "/nfs/masi/SPORE/nifti/combine"
rows = []
for pid in os.listdir(scan_dir):
    for scan_date in os.listdir(os.path.join(scan_dir, pid)):
        for filename in os.listdir(os.path.join(scan_dir, pid, scan_date)):
            if "time" in filename:
                rows.append({"pid":pid, "scan_date": scan_date, "filename": filename})

In [5]:
scan_df = pd.DataFrame(rows)
scan_df = scan_df.sort_values(by=['pid', 'filename'])
# number each session
scan_df['session'] = scan_df.groupby(['pid'])['scan_date'].rank('dense', ascending=True) # assign a T0, T1, or T2 for each scan
scan_df['session'] = scan_df['session'] - 1
scan_df['session'] = scan_df['session'].astype(int)

# conver scan_date str to datetime
scan_df['studydate'] = scan_df['scan_date'].apply(lambda x: pd.to_datetime(x, format='%Y%m%d'))
scan_df

           pid scan_date                     filename  session  studydate
1373  00000001  20131205  00000001time20131205.nii.gz        0 2013-12-05
982   00000002  20131213  00000002time20131213.nii.gz        0 2013-12-13
200   00000003  20140109  00000003time20140109.nii.gz        0 2014-01-09
227   00000004  20140113  00000004time20140113.nii.gz        0 2014-01-13
831   00000005  20140114  00000005time20140114.nii.gz        0 2014-01-14
...        ...       ...                          ...      ...        ...
654   00001132  20180412  00001132time20180412.nii.gz        0 2018-04-12
869   00002002  20180223  00002002time20180223.nii.gz        0 2018-02-23
868   00002002  20180709  00002002time20180709.nii.gz        1 2018-07-09
852   00002008  20180206  00002008time20180206.nii.gz        0 2018-02-06
851   00002008  20180920  00002008time20180920.nii.gz        1 2018-09-20

[1490 rows x 5 columns]

### lung cancer labels

In [87]:
# lung cancer labels label csv
raw_label_path = "/nfs/masi/SPORE/file/clinical/SPORE_diaginfo_v1.xlsx"
raw_label_df = pd.read_excel(raw_label_path)
print(raw_label_df.columns)
print(len(raw_label_df))

Index(['SPORE', 'Path', 'Stage', 'Column1'], dtype='object')
49

In [88]:
raw_label_df['pid'] = raw_label_df['SPORE'].apply(lambda x: x.split('_')[-1])
lmerged = raw_df.merge(raw_label_df, on='pid', how='left')
lmerged['lung_cancer'] = ~lmerged['SPORE'].isnull()
print(lmerged['lung_cancer'].value_counts())

False    1633
True       55
Name: lung_cancer, dtype: int64

### merge all three

In [103]:
sc_df = lmerged.merge(scan_df, on=['pid', 'studydate'], how='inner')
print(sc_df['lung_cancer'].value_counts())
sc_df

False    1225
True       32
Name: lung_cancer, dtype: int64

,sub_name,sex,race,Age,studydate,heightinches,weightpounds,education,personal_cancer_history,family_cancer_history,...,copd,pid,SPORE,Path,Stage,Column1,lung_cancer,scan_date,filename,session
0,SPORE_00000001,M,Caucasian/ White,59,2013-12-05,72,214,NaN,NaN,NaN,...,NaN,00000001,NaN,NaN,NaN,NaN,False,20131205,00000001time20131205.nii.gz,0
1,SPORE_00000002,F,Caucasian/ White,67,2013-12-13,61,157,NaN,NaN,NaN,...,NaN,00000002,NaN,NaN,NaN,NaN,False,20131213,00000002time20131213.nii.gz,0
2,SPORE_00000003,F,Caucasian/ White,46,2014-01-09,66,194,NaN,NaN,NaN,...,NaN,00000003,NaN,NaN,NaN,NaN,False,20140109,00000003time20140109.nii.gz,0
3,SPORE_00000004,F,Caucasian/ White,59,2014-01-13,65,145,NaN,NaN,NaN,...,NaN,00000004,NaN,NaN,NaN,NaN,False,20140113,00000004time20140113.nii.gz,0
4,SPORE_00000005,M,Caucasian/ White,61,2014-01-14,70,270,NaN,NaN,NaN,...,NaN,00000005,NaN,NaN,NaN,NaN,False,20140114,00000005time20140114.nii.gz,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252,SPORE_00000604,F,Caucasian/ White,56,2018-04-18,68,209,9-11th grade,The patient has no personal history of other c...,The patient has no family history of other can...,...,No,00000604,NaN,NaN,NaN,NaN,False,20180418,00000604time20180418.nii.gz,0
1253,SPORE_00001128,F,Caucasian/ White,58,2018-05-31,61,164,Associate degree some,The patient has no personal history of other c...,NaN,...,Yes,00001128,NaN,NaN,NaN,NaN,False,20180531,00001128time20180531.nii.gz,0
1254,SPORE_00000411,M,Hispanic/ Latnio,76,2018-01-19,67,130,High school graduate,The patient has no personal history of other c...,The patient has no family history of other can...,...,No,00000411,NaN,NaN,NaN,NaN,False,20180119,00000411time20180119.nii.gz,1
1255,SPORE_00000459,M,Caucasian/ White,66,2018-04-25,70,148,Associate degree some,The patient has no personal history of other c...,The patient has no family history of other can...,...,No,00000459,NaN,NaN,NaN,NaN,False,20180425,00000459time20180425.nii.gz,1
1256,SPORE_00000210,M,Caucasian/ White,66,2018-02-21,69,248,9-11th grade,NaN,The patient has the following family history o...,...,Yes,00000210,NaN,NaN,NaN,NaN,False,20180221,00000210time20180221.nii.gz,0

### Preprocess and derive features
We do NOT have smoking intensity (average packs per day) and smoking duration for VLSP

![PLCO](/home/local/VANDERBILT/litz/github/MASILab/DeepLungScreening/PLCOm2012_feature_set.png)

In [104]:
# calculate bmi = kg/m^2
sc_df['bmi'] = 0.45359237*sc_df['weightpounds'].div(np.power(0.0254*sc_df['heightinches'], 2))
sc_df = sc_df[~sc_df['bmi'].isnull()] # there are 2 cases of missing BMI

In [105]:
# parse race
def parse_race(x):
    map={
        'Caucasian/ White': 1, 
        'African American/ Black': 2, 
        'Hispanic/ Latnio': 3, 
        'Asian': 4, 
        'American Indian, Alaska Native': 5, 
        'Native Hawaiian/ Pacific Islan': 6, 
        'Unknown': 0
    }
    return map[x]
sc_df['race'] = sc_df['race'].apply(lambda x : parse_race(x))
sc_df['race'].value_counts()

1    1059
2     164
3      13
4      11
0       3
5       3
6       1
Name: race, dtype: int64

In [106]:
sc_df['education'].value_counts(dropna=False)

Associate                167
High schoo               166
Bachelors                146
Associate degree some    130
NaN                      122
High school graduate     119
Graduate o               107
Bachelors degree          99
9-11th gra                55
Graduate or professio     54
9-11th grade              33
Post high                 31
Post high school trai     21
Unknown-pr                 2
Otherth gr                 1
Unknown-prefer not to      1
Name: education, dtype: int64

In [107]:
# parse education
def parse_edu(x):
    mapper = {
        "Associate": 4,
        "High schoo": 2,
        "Bachelors": 5,
        "Associate degree some": 4,
        "High school graduate": 2,
        np.nan: 0,
        "Graduate o": 6,
        "Bachelors degree": 5,
        "9-11th gra": 1,
        "Graduate or professio": 6,
        "9-11th grade": 1,              
        "Post high": 3,                 
        "Post high school trai": 3,     
        "Unknown-pr": 0,                
        "Otherth gr": 3,                 
        "Unknown-prefer not to": 0,
    }
    return mapper[x]

sc_df['education'] = sc_df['education'].apply(lambda x: parse_edu(x))

In [108]:
# parse PMH and FH
def parse_phist(x):
    if x=='The patient has no personal history of other cancer.' or x=='No':
        return 0
    elif pd.isnull(x):
        return np.nan
    else:
        return 1

def parse_fhist(x):
    if x=='The patient has no family history of other cancer.':
        return 0
    elif pd.isnull(x):
        return np.nan
    else: 
        return 1

sc_df['phist'] = sc_df['personal_cancer_history'].apply(lambda x: parse_phist(x))
sc_df['fhist'] = sc_df['family_cancer_history'].apply(lambda x: parse_fhist(x))

In [109]:
# copd
def parse_copd(x):
    if x=="Yes":
        return 1
    elif x=="No":
        return 0
    else:
        return np.nan

sc_df['copd'] = sc_df['copd'].apply(lambda x: parse_copd(x))
sc_df['copd'].value_counts(dropna=False)

0.0    819
1.0    315
NaN    120
Name: copd, dtype: int64

In [110]:
# smoking status
# drop subjects who never smoked
sc_df = sc_df[(sc_df['smokingstatus']=='Current Smoker') | (sc_df['smokingstatus']=='Former Smoker')]

def smoker_to_int(x):
    return 1 if x=='Current Smoker' else 0

sc_df['smo_status']=sc_df['smokingstatus'].apply(lambda x: smoker_to_int(x))
print(sc_df['smo_status'].value_counts(dropna=False))\

# pack years
# drop subjects without pack years
sc_df = sc_df[sc_df['packyearsreported']!=999]

# smoking quit time
sc_df['quit_time'] = sc_df['yearssincequit']

1    750
0    494
Name: smo_status, dtype: int64

In [111]:
sc_df['id'] = sc_df['filename'].apply(lambda x: x.split('.nii.gz')[0])
sc_df['age'] = sc_df['Age']
sc_df['pkyr'] = sc_df['packyearsreported']
ft = ['pid', 'id', 'session', 'age', 'race', 'education',  'bmi',  'copd', 'phist', 'fhist', 'smo_status', 'quit_time', 'pkyr', 'lung_cancer']
cohort_df = sc_df[ft]
cohort_df

,pid,id,session,age,race,education,bmi,copd,phist,fhist,smo_status,quit_time,pkyr,lung_cancer
8,00000010,00000010time20140214,0,65,1,4,26.125899,0.0,0.0,NaN,1,0,31.0,False
10,00000013,00000013time20140226,0,62,1,0,21.613634,NaN,NaN,NaN,1,0,40.0,False
11,00000014,00000014time20140226,0,62,1,0,21.143772,NaN,NaN,NaN,0,7,42.0,False
12,00000015,00000015time20140307,0,65,1,3,25.318819,0.0,NaN,1.0,0,4,60.0,False
13,00000016,00000016time20140307,0,55,1,0,25.970529,NaN,NaN,NaN,1,0,140.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252,00000604,00000604time20180418,0,56,1,1,31.778015,0.0,0.0,0.0,1,0,92.0,False
1253,00001128,00001128time20180531,0,58,1,4,30.987211,1.0,0.0,NaN,1,0,92.0,False
1254,00000411,00000411time20180119,1,76,3,2,20.360669,0.0,0.0,0.0,1,0,96.0,False
1255,00000459,00000459time20180425,1,66,1,4,21.235571,0.0,0.0,0.0,1,0,96.0,False
1256,00000210,00000210time20180221,0,66,1,1,36.622822,1.0,NaN,1.0,1,0,99.0,False

In [112]:
# reset index and save as csv
cohort_df = cohort_df.reset_index(drop=True)
out_path = "/home/local/VANDERBILT/litz/github/MASILab/DeepLungScreening/cohorts/vlsp_cohort_v1.csv"
cohort_df.to_csv(out_path, index=False)

### Missing data imputation

In [114]:
# check for NaN
print(len(cohort_df[cohort_df['age'].isnull()]))
print(len(cohort_df[cohort_df['race'].isnull()]))
print(len(cohort_df[cohort_df['education'].isnull()]))
print(len(cohort_df[cohort_df['bmi'].isnull()])) # removed 2 cases without
print(len(cohort_df[cohort_df['copd'].isnull()]))
print(len(cohort_df[cohort_df['phist'].isnull()]))
print(len(cohort_df[cohort_df['fhist'].isnull()]))
print(len(cohort_df[cohort_df['smo_status'].isnull()]))
print(len(cohort_df[cohort_df['quit_time'].isnull()]))
print(len(cohort_df[cohort_df['pkyr'].isnull()]))
print(len(cohort_df[cohort_df['lung_cancer'].isnull()]))

0
0
0
0
111
203
689
0
0
0
0

In [143]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# one-hot encoding
features = ['age', 'race', 'education',  'bmi',  'copd', 'phist', 'fhist', 'smo_status', 'quit_time', 'pkyr']
label = ['lung_cancer']
features_df = cohort_df[features]
x = pd.get_dummies(features_df, columns=['race', 'education'])
enc_features = x.columns
# Multiple linear imputation
imp = IterativeImputer(max_iter=10, random_state=0)
imp.fit(x)
imp_x = pd.DataFrame(imp.transform(x), columns=enc_features)
imp_x[['copd', 'phist', 'fhist']] = imp_x[['copd', 'phist', 'fhist']].round()

In [144]:
# merge imputed values with cohort labels using an index join
cohort_enc = pd.merge(cohort_df[['pid', 'id', 'session', 'lung_cancer']], imp_x, left_index=True, right_index=True)
cohort_enc

,pid,id,session,lung_cancer,age,bmi,copd,phist,fhist,smo_status,...,race_4,race_5,race_6,education_0,education_1,education_2,education_3,education_4,education_5,education_6
0,00000010,00000010time20140214,0,False,65.0,26.125899,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,00000013,00000013time20140226,0,False,62.0,21.613634,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,00000014,00000014time20140226,0,False,62.0,21.143772,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00000015,00000015time20140307,0,False,65.0,25.318819,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,00000016,00000016time20140307,0,False,55.0,25.970529,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1238,00000604,00000604time20180418,0,False,56.0,31.778015,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1239,00001128,00001128time20180531,0,False,58.0,30.987211,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1240,00000411,00000411time20180119,1,False,76.0,20.360669,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1241,00000459,00000459time20180425,1,False,66.0,21.235571,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1242,00000210,00000210time20180221,0,False,66.0,36.622822,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [145]:
cohort_enc.columns

Index(['pid', 'id', 'session', 'lung_cancer', 'age', 'bmi', 'copd', 'phist',
       'fhist', 'smo_status', 'quit_time', 'pkyr', 'race_0', 'race_1',
       'race_2', 'race_3', 'race_4', 'race_5', 'race_6', 'education_0',
       'education_1', 'education_2', 'education_3', 'education_4',
       'education_5', 'education_6'],
      dtype='object')

### Logistic Regression

In [147]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

# normalize by subtracting mean and dividing by std
scalars = ['age', 'bmi', 'quit_time', 'pkyr']
cohort_enc[scalars].min()
cohort_enc[scalars] = (cohort_enc[scalars] - cohort_enc[scalars].min())/(cohort_enc[scalars].max() - cohort_enc[scalars].min())
cohort_enc

,pid,id,session,lung_cancer,age,bmi,copd,phist,fhist,smo_status,...,race_4,race_5,race_6,education_0,education_1,education_2,education_3,education_4,education_5,education_6
0,00000010,00000010time20140214,0,False,0.56250,0.278996,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,00000013,00000013time20140226,0,False,0.46875,0.171854,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,00000014,00000014time20140226,0,False,0.46875,0.160697,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00000015,00000015time20140307,0,False,0.56250,0.259832,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,00000016,00000016time20140307,0,False,0.25000,0.275306,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1238,00000604,00000604time20180418,0,False,0.28125,0.413203,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1239,00001128,00001128time20180531,0,False,0.34375,0.394425,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1240,00000411,00000411time20180119,1,False,0.90625,0.142103,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1241,00000459,00000459time20180425,1,False,0.59375,0.162877,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1242,00000210,00000210time20180221,0,False,0.59375,0.528241,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [151]:
# fit model
train, test = train_test_split(cohort_enc, test_size=0.2)
X_train, y_train = train[enc_features].to_numpy(), train[label].to_numpy().ravel()
lr = LogisticRegression(solver='sag', random_state=0).fit(X_train, y_train)

In [152]:
# score model with test set
X_test, y_test = test[enc_features].to_numpy(), test[label].to_numpy().ravel()
lr.predict(X_test)
lr.score(X_test, y_test)

0.9678714859437751

In [154]:
# parameters
lr.coef_

array([[ 0.33259813,  0.15753824,  0.02066335,  0.54713064,  0.34667221,
         0.08009621,  0.15217798,  0.43773478, -0.02187434,  0.57821158,
        -0.29348304, -0.1221164 , -0.08431111, -0.04283327, -0.01402931,
         0.70726862,  0.51222347, -0.40347247, -0.61785786,  0.1054228 ,
         0.14098999, -0.44501044]])